﻿@model IEnumerable<CompArchivos.Models.FileInformation>

@{
    ViewBag.Title = "Index";
}

<h1>Menú</h1>

<h2>
    @Html.ActionLink("Compartir archivos", "UploadFile")
</h2>

<h3>
    @*<span>Mensaje del sistema: @ViewBag.Message</span>*@
    <span>Mensaje del sistema: @TempData["Message"] </span> 
</h3>
 