﻿@{
    ViewBag.Title = "UploadFile";
}

<h2>UploadFile</h2>

@using (Html.BeginForm("Upload", "File", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div>
        @Html.TextBox("file", "", new { type = "file" }) <br />

        <label>Cantidad maxima de descargas</label>
        <input type="number" value="1" name="max_descarga"/>

        <input type="submit" value="Upload" />

        @TempData["Message"]

    </div>


}  